<ul class="dropdown">
	{% for document in documents %}
		<li><a href="{{ path('documento', {'slug': document.slug})}}" class="{% if (activesubmenu is defined) and activesubmenu == '{{ document.slug }}' %}current{% endif %}">{{ document.title }}</a></li>
	{% endfor %}
</ul>