{% extends 'base.html.twig' %}

{% block body %}
<!--page title start-->
<section class="page-title ptb-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="active">Colaboradores</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--page title end-->
<section class="section-padding">
    <div class="container">

      <div class="mb-80">
			<h2 class="section-title text-capitalize section-sub">Agradecimientos</h2>
			<p class="section-sub">A los investigadores de la Facultad de Humanidades y Ciencias de la Educación, especialmente, a Adolfo Elizaincín, Marisa Malcuori, Mirta Groppi, por su impulso pionero. A los estudiantes de la Facultad de Humanidades y Ciencias de la Educación y de la Facultad de Información y Comunicación que, a través de su participación en los cursos de Lingüística Histórica, Seminarios, Taller Metodológico, Lengua II han contribuido con su trabajo a ampliar los materiales que contiene esta web.</p>
			<p class="section-sub">A la Comisión Sectorial de Investigación Científica por su apoyo económico en diversas etapas del trabajo de las últimas décadas así como a la  Swedish Foundation for International Cooperation in Research and Higher Education, y especialmente a Laura Álvarez por su rol fundamental la red de intercambio académico con Suecia y Brasil.</p>
			<p class="section-sub">A quienes han integrado este grupo de investigación en el marco de proyectos financiados por CSIC: Ariadna Islas, Serrana Caviglia, Marianela Fernández, Ana Clara Polakof, Juan Justino da Rosa, Yamila Montenegro, Cecila Bértola, Amparo Fernández, Macarena González, Soledad Álvarez, Hernán Viera, , Mayte Gorroztorrazo, Gelsi Ausserbauer, Ligia Rospantini.</p>
			<p class="section-sub">Han colaborado con esta web Cecilia Bértola, Amparo Fernández Guerra, Juan Manuel Fustes, Joaquín Ginés y Yamila Montenegro.</p>
      </div>
    </div><!-- /.container -->
</section>
{% endblock %}