{% extends 'base.html.twig' %}

{% block body %}
 <!-- start revolution slider 5.0 -->
        <section class="rev_slider_wrapper">
            <img src="{{ asset('assets/img/banner/banner-1.jpg') }}">
        </section><!-- end of slider wrapper -->
        <section class="section-padding">
            <div class="container">
              <div class="mb-80">
                  {% trans %}inicio_texto{% endtrans %}                  
              </div>
            </div><!-- /.container -->
        </section>
{% endblock %}