{% extends 'base.html.twig' %}

{% block body %}
 <!-- start revolution slider 5.0 -->
        <section class="rev_slider_wrapper">
            <img src="{{ asset('assets/img/banner/banner-1.jpg') }}">
        </section><!-- end of slider wrapper -->


        <section class="section-padding">
            <div class="container">

              <div class="mb-80">
                  <h2 class="section-title text-uppercase section-sub">Presentación</h2>
                  <p class="section-sub">Esta página web reúne documentos y fuentes para la investigación de la historia de las lenguas en Uruguay, así como publicaciones y trabajos sobre la temática.</p>
                  <p class="section-sub">Recupera la historia de la diversidad lingüística de un territorio en el que coexistieron, junto al español y al portugués, lenguas indígenas y africanas.</p>
                  <p class="section-sub">La mayoría de los materiales incluidos aquí surgieron en el marco de diferentes actividades de investigación y docencia realizadas, desde la década del 90, en el Instituto de Lingüística de la Facultad de Humanidades y Ciencias de la Educación. A partir del 2014 se sumaron los esfuerzos del Departamento de Medios y Lenguajes de la Facultad de Información y Comunicación.</p>
              </div>


            </div><!-- /.container -->
        </section>
{% endblock %}