{% extends 'base.html.twig' %}

{% block body %}
<!--page title start-->
<section class="page-title ptb-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="active">Otros materiales</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--page title end-->
<section class="section-padding">
    <div class="container">

      <div class="mb-80">
          <h2 class="section-title text-capitalize section-sub">Otros Materiales</h2>
          <p class="section-sub">Se divulgan aquí una serie de materiales de interés para el estudio de los componentes lingüísticos indígenas y africanos en la conformación del español del Uruguay.</p>
          <p class="section-sub">
            {% for category in categories %}
          	<a href="{{ path('publicaciones_genericos', {'slug' : category.slug }) }}">
          		<i class="fa fa-caret-right" aria-hidden="true" style="margin-right:5px;"></i>{{ category.longname }}
          	</a>
            {% if not loop.last %}
              </br></br>
            {% endif %}
            {% endfor %}
          </p>
      </div>
    </div><!-- /.container -->
</section>
{% endblock %}