<li>
	<a href="{{ path('admin_publicaciones_index')}}">
		<i class="fa fa-file-text-o"></i>
		<span>Publicaciones</span>
	</a>
</li>
<li>
	<a href="{{ path('admin_monografiagrado_index')}}">
		<i class="fa fa-file-text-o"></i>
		<span>Monografia Grado</span>
	</a>
</li>
<li>
	<a href="{{ path('admin_monografiaposgrado_index')}}">
		<i class="fa fa-file-text-o"></i>
		<span>Monografia Posgrado</span>
	</a>
</li>
<li>
	<a href="{{ path('admin_documentos_index')}}">
		<i class="fa fa-file-text-o"></i>
		<span>Documentos</span>
	</a>
</li>